{% extends 'admin/layout/base.html.twig' %}

{% block inner_body %}
    <div class="jumbotron">
        <h1>Hello!</h1>
        <p>Welcome to the admin panel! Have fun and be creative! :)</p>
    </div>
{% endblock %}