{##
 # @version     0.1.0 27-Mar-16
 # @copyright   Copyright (c) 2016 by Andy Liebke. All rights reserved. (http://andysmiles4games.com)
 #}

{% extends 'layout/base.html.twig' %}

{% block inner_body %}
    <div class="panel panel-default">
        <div class="panel-heading">Credits</div>
        
        <div class="panel-body">
            This blog system is powered by those following third party libraries/frameworks:
            
            <ul>
                <li>
                    Symfony v2.8.3 (<a href="https://symfony.com/" target="_blank">https://symfony.com/</a>)
                </li>
                
                <li>
                    GLYPHICONS (<a href="http://glyphicons.com/" target="_blank">http://glyphicons.com/</a>)
                </li>
                
                <li>
                    Bootstrap v3.3.6 (<a href="http://getbootstrap.com/" target="_blank">http://getbootstrap.com/</a>)
                </li>
            </ul>
            
            <a href="{{ path('homepage') }}" class="btn btn-default">Back</a>
        </div>
    </div>
{% endblock %}